{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div>
    {% for message in messages  %}
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Password Successfully changed</h4>
      </div>
    {% endfor %}
</div>
<b>Your email:</b> {{user.email}} <br>
<b>First Name and Surname: </b> {{user.get_full_name}}<br>
<b>Username: </b> {{user}} <br>
<b>Fornu ID:</b> {{user.pk}} <br>
<b>Last Login: </b> {{user.last_login}}<br>
<b>Joined on: </b>{{user.date_joined}}<br>
{{user.is_staff}}
<div>
    <a href="{% url 'password_change' %}" class='btn btn-danger'>Change Password</a>
</div>
{% endblock content %}